In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\aswat\OneDrive\Desktop\ajesh\Artificial Intelligence\ICT Academy\datas\titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
X = df[['Pclass','SibSp','Parch','Fare']]
y = df.Survived

In [7]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [9]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.695067264573991

# KNN

In [10]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)

In [11]:
neigh.fit(X_train,y_train)

KNeighborsClassifier()

In [12]:
accuracy_score(y_test, y_pred)

0.695067264573991

# SVM

In [13]:
from sklearn.svm import SVC
model1 = SVC(kernel='linear', C=1, gamma='auto')
model1.fit(X_train,y_train)

SVC(C=1, gamma='auto', kernel='linear')

In [14]:
y_pred = model1.predict(X_test)

In [15]:
accuracy_score(y_test, y_pred)

0.7130044843049327

# Decision tree

In [16]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [17]:
y_pred = clf.predict(X_test)

In [18]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6681614349775785

In [19]:
from sklearn.ensemble import BaggingClassifier

In [20]:
tree = DecisionTreeClassifier()

In [21]:
bagging_clf = BaggingClassifier(base_estimator=tree, n_estimators=100, random_state=42)

In [22]:
bagging_clf.fit(X_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=100,
                  random_state=42)

In [23]:
y_pred = bagging_clf.predict(X_test)

In [24]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6995515695067265

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)

In [27]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [28]:
y_pred = rf_clf.predict(X_test)

In [29]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6816143497757847

In [30]:
from sklearn.svm import SVC

In [31]:
bagging_clf = BaggingClassifier(base_estimator=SVC(), n_estimators=100, random_state=42)

In [32]:
bagging_clf.fit(X_train, y_train)

BaggingClassifier(base_estimator=SVC(), n_estimators=100, random_state=42)

In [33]:
y_pred = bagging_clf.predict(X_test)

In [34]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6995515695067265

In [35]:
from sklearn.ensemble import AdaBoostClassifier

ada_boost_clf = AdaBoostClassifier(n_estimators=100)
ada_boost_clf.fit(X_train, y_train)
y_pred = ada_boost_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7174887892376681

#  K-Fold Cross Validation

In [37]:
from sklearn.model_selection import cross_val_score,KFold
model = LogisticRegression()
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.58888889 0.66292135 0.71910112 0.61797753 0.69662921 0.6741573
 0.70786517 0.70786517 0.74157303 0.75280899]
Average Cross Validation score :0.6869787765293383

In [38]:
algorithms = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
for algo in algorithms:
    score = cross_val_score(LogisticRegression(max_iter= 4000, solver= algo), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({algo}): {"{:.3f}".format(score.mean())}')

Average score(newton-cg): 0.687
Average score(lbfgs): 0.687
Average score(liblinear): 0.685
Average score(sag): 0.669
Average score(saga): 0.678

# Grid search

In [39]:
from sklearn import ensemble
n_estimators = [50, 100, 150, 200, 250, 300, 350]
criterion = ['gini', 'entropy']
for val in n_estimators:
  for crit in criterion:
    score = cross_val_score(ensemble.RandomForestClassifier(n_estimators= val,criterion= crit ), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({val}): {"{:.3f}".format(score.mean())}')

Average score(50): 0.692
Average score(50): 0.696
Average score(100): 0.691
Average score(100): 0.692
Average score(150): 0.698
Average score(150): 0.688
Average score(200): 0.692
Average score(200): 0.690
Average score(250): 0.695
Average score(250): 0.695
Average score(300): 0.694
Average score(300): 0.696
Average score(350): 0.696
Average score(350): 0.696